@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

body{
    background-color: ghostwhite;
}

/*******w******** 
    Page post css
****************/
.form-container{
    justify-content:left;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#submitbutton{
    position: relative;
    left: 150px;
    top: 5px;
}

textarea{
    resize: none;
    height: 200px;
    width: 400px;
}

/*******w******** 
    Menu css
****************/
.logo{
    width: 125px;
    height: auto;
    position: relative;
    top: 20px;
    left: 100px;
}

.header{
    align-items: center;
    display: flex;
    justify-content: center;
}

.navigation{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 80px;
}

.navigation ul a{
    text-decoration: none;
    color: #7fb6ec;
    font-family: Fraunces;
    padding: 20px;
    font-size: 20px;
}

.navigation ul a::after{
    content: "\007C"; 
    margin-left: 5px;
    color: #d8af8c;
    position: relative;
    left: 20px;
}

.donutbanner{
    width: 1535px;
    height: 235px;
}

.donutbannerimg{
    position: relative;
    right: 10px;
}
